@model AZMovieDB.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="editor-label">
        <b>@Html.DisplayNameFor(model => model.Genre)</b>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>

    <div class="editor-label">
        <b>@Html.DisplayNameFor(model => model.Title)</b>
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="editor-label">
        <b>@Html.DisplayNameFor(model => model.Actors)</b>
    </div>
    <div class="editor-field">
        <ul>
            @foreach (var actor in Model.Actors)
            {
                <li>@actor.Name</li>
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
